$start-size: 10;
$end-size: 100;

@for $i from $start-size through $end-size {
  .f-#{$i} {
    font-size: #{$i}px;
  }
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
menu,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background-color: transparent;
}

body,
th,
td,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
input,
textarea,
option,
div,
p,
dt,
dd,
li,
address {
    color: rgb(26, 26, 26);
    box-sizing: border-box;
}

ul {
    list-style: none;
}

* {
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    height: 4px;
    width: 0px;
}
.page_sec2::-webkit-scrollbar {
    height: 4px;
    width: 0px;
}
.middleBox_abs{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}